@use "variables";

@mixin btn-variant($bg-color, $color) {
  padding: 3px 30px;
  border-radius: 60px;
  border: solid 1px variables.$primary-color;
  background-color: $bg-color;
  color: $color;
}
//TODO feedback: $hover-volor单词拼写错误，应该是$hover-color
@mixin link-variant($color, $hover-volor, $decoration: false) {
  color: $color;
  text-decoration: $decoration;
  &:hover {
    color: $hover-volor;
  }
}

//todo feedback: varient单词拼写错误，应该是variant
@mixin form-variant($height, $width) {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  border: 1px solid variables.$border-color;
  border-radius: 10px;
  padding: variables.$basic-padding-y variables.$basic-padding-x;
  height: $height;
  width: $width;
}
