@mixin btn-varient($bg-color, $color) {
  padding: 3px 30px;
  border-radius: 60px;
  border: solid 1px $primary-color;
  background-color: $bg-color;
  color: $color;
}
//todo feedback: varient单词拼写错误，应该是variant
//TODO feedback: $hover-volor单词拼写错误，应该是$hover-color
@mixin link-varient($color, $hover-volor, $decoration: false) {
  color: $color;
  text-decoration: $decoration;
  &:hover {
    color: $hover-volor;
  }
}

//todo feedback: varient单词拼写错误，应该是variant
@mixin form-varient($height, $width) {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: $basic-padding-y $basic-padding-x;
  height: $height;
  width: $width;
}
