//todo feedback: 尝试把@import换成@use, 了解一下二者的区别
@use "mixins";
@import "variables";
@import "reboot";

.twitter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $basic-padding-y $basic-padding-x;
  border-bottom: solid 1px $border-color;

  .btn-login {
    @include mixins.btn-variant(transparent, $primary-color);
  }

  .btn-register {
    @include mixins.btn-variant($primary-color, $white);
  }
}

.main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  height: 100%;
}

.login {
  @include mixins.form-variant(400px, 330px);

  .form-title {
    align-self: center;
    font-size: 1.3rem;
    color: $white;
  }

  .connection-character {
    align-self: center;
  }

  .login-input {
    color: $white;
  }

  a {
    @include mixins.link-variant($primary-color, $white, none);
    width: 30%;
  }

  .btn-form-login {
    @include mixins.btn-variant(transparent, $primary-color);
    width: 100%;
  }

  .btn-form-register {
    @include mixins.btn-variant($primary-color, $white);
    width: 100%;
  }
}
